@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}

.navbar {
  position: fixed;
  background: #55423d;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 999;
  transition: 0.6s;
}

/* nav.scrolled {
  background-color: #55423d;
  opacity: 1;
} */
.nav-logo {
  font-style: italic;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo span {
  color: #ad8b73;
}

.nav-navibar a {
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
  color: white;
  border-bottom: 1.5px solid #ad8b73 hidden;
  position: relative;
  transition: color 0.3s ease-in-out;
}

/* nav.scrolled .nav-navibar a {
  color: white;
} */

.nav-navibar a:hover {
  overflow: inherit;
  color: #ffc0ad;
  box-sizing: border-box;
}

.nav-navibar a:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ffc0ad;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.nav-icon {
  display: none;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.nav-icon a {
  color: white;
}

.topnav #myLinks {
  display: none;
}

.active {
  background-color: #04aa6d;
  color: white;
}

#beranda {
  color: #00adb5;
}

#menu {
  color: white;
  display: none;
}

#hero {
  background-image: url('/img/background1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.main-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero-img img {
  width: 80%;

}

/* .hero-img {
  animation: jalan 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes jalan {
  50% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(50px);
    opacity: 1;
  }
} */

.hero-content {
  flex: 1;
  display: flex;
  max-width: 50%; /* Adjust as needed */
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

#hero h4 {
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 1.3;
  color: white;
  font-weight: 400;
}

#hero h1 {
  color: #a27b5c;
  margin-bottom: 1rem;
  font-size: 50px;
}

#hero button {
  background-image: url('/img/button.png');
  background-color: transparent;
  color: white;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 10px;
}

.container span {
  color: #a27b5c;
}

.uhuy {
  float: left;
}

.main {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.main-text p {
  margin-bottom: 10px;
}

.main-text h1 {
  margin-bottom: -4rem;
}

.main-img img {
  width: 50rem;
  border-radius: 5%;
}

.main-video {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  /* height: 50%; */
  padding-top: 50%;
  border-radius: 20px;
  /* Aspect ratio 16:9 */
  margin-top: 2rem;
}

.main-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 20px;
}

.main-info {
  font-size: 10px;
  margin-top: -5px;
}

.main-info-kelompok {
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 6px;
}

p .main-info {
  font-style: italic;
}

.main-logo {
  margin-top: 30px;
  color: #fff;
}

.main-logo h2 {
  font-size: 27px;
}

.main-logo span {
  color: #ad8b73;
  font-size: 27px;
  font-weight: 800;
  margin-right: 10px;
}

/* galeri */
#produk1 {
  text-align: center;
}

.produk-logo {
  height: 6rem;
  padding-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.produk-logo a {
  color: #a27b5c;
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  align-items: center;
  position: absolute;
  left: 2%;
  top: 5%;
}

.produk-logo h2 {
  font-size: 2rem;
  margin-top: 8rem;
}

.pro-container {
  padding: 1rem 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 6rem;
}

#produk1 .pro {
  width: 20%;
  min-width: 300px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.3s ease;
}

#produk1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

#produk1 .pro img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#produk1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#produk1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#produk1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#produk1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #a27b5c;
}

/* .hero-text {
  width: 40%;
  animation: jalan 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes jalan {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(50px);
    opacity: 1;
  }
} */

#produk1 .pro .fa-solid {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #a27b5c;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 6rem;
}

.content-text {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.satu {
  width: 45%;
  text-align: start;
  margin-bottom: 3rem;
}

.dua {
  width: 45%;
  text-align: start;
  margin-bottom: 3rem;
}

.content-logo {
  margin: 20px 0;
  margin-bottom: 0;
}

.content-logo h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
}

.content-logo span {
  color: #a27b5c;
  /* font-size: 2rem; */
}

.menu {
  padding: 70px 0;
}

.menu span {
  font-size: 27px;
  font-weight: 800;
  margin-left: 5px;
  color: #a27b5c;
}

.menu h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  margin-top: -5rem;
}

.menu .menu-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.menu .menu-box .menu-card {
  width: 350px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #55423d;
  border-radius: 25px;
}

.menu .menu-box .menu-card .menu-image {
  width: 325px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}

.menu .menu-box .menu-card .menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.menu .menu-box .menu-card .menu-image:hover img {
  transform: scale(1.1);
}

.menu .menu-box .menu-card .small-card {
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.menu .menu-box .menu-card:hover .small-card {
  position: relative;
  top: -240px;
  right: 15px;
  opacity: 1;
  /* color: #00adb5; */
}

.menu .menu-box .menu-card .small-card i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #ad8b73;
  cursor: pointer;
  text-shadow: 0 0 6px #ad8b73;
  transition: 0.3s;
}



.menu .menu-box .menu-card .menu-info h2 {
  width: 60%;
  text-align: center;
  margin: 10px auto;
  font-size: 23px;
  color: #a27b5c;
}

.menu .menu-box .menu-card .menu-info p {
  width: 70%;
  text-align: center;
  margin: 10px auto;
  line-height: 21px;
}


.menu .menu-box .menu-card .menu-info h3 {
  text-align: center;
  margin: 10px auto;
  /* font-size: 23px; */
}

.menu .menu-box .menu-card .menu-info .menu-icon {
  color: #ad8b73;
  /* text-align: center; */
  margin: 10px 0 10px 0;
}

.about {
  padding: 1rem 7%;
  /* background-color: #1d1d23; */
}

.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  flex: 1 1 45rem;
}

.about-inner-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-content .about-inner-content img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.about-text h1 {
  color: #a27b5c;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

/* contact */
.contact {
  padding: 7rem 7% 7rem;
  background-color: white;
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.contact h2 span {
  color: #a27b5c;
  margin-right: 0.5rem;
}

.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.contact .row {
  margin-top: 3rem;
  height: 30rem;
  background-color: #222;
  border-radius: 20px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border: none;
  height: 100%;
  border-radius: 20px;
}

.contact .row p {
  padding-top: 1rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: black;
  border: 1px solid #eee;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  background: none;
  border: none;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
  background-color: #a27b5c;
  cursor: pointer;
  border: none;
}

/* Make the carousel responsive */
.carousel-inner .item {
  max-width: 100%;
  height: auto;
}

/* Center the image vertically in the slide */
.carousel-inner .item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #55423d;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark .row {
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 4rem;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.item h3 {
  text-align: left;
}

.footer-dark .social a {
  color: inherit;
  display: flex;
}

.footer-dark .social {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-dark p {
  margin-bottom: -2rem;
}

/* Dekstop */
@media only screen and (min-width: 992px) {
  .menu .menu-box {
    /* width: 85%; */
    margin: 0 auto;
    display: flex;
    grid-gap: 40px;
    justify-content: center;
  }

  .jumbotron {
    margin-top: 0;
  }
}

/* Tablet */
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }

  .jumbotron .jumbotron-logo {
    font-size: 2rem;
  }

  .nav-icon {
    display: block;
  }

  #menu {
    display: inline-block;
  }

  .nav-navibar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  }

  .nav-navibar.active {
    right: 0;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  /* .nav-navibar a {
    display: block;
    margin: 50px 0;
    line-height: 20px;
    font-size: 20px;
  } */

  /* .navbar .nav-navibar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #282d32;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .nav-navibar a::after {
    transform-origin: 0 0;
  }

  .navbar .nav-navibar a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .nav-navibar.active {
    right: 0;
  }

  .navbar .nav-navibar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  } */

  .main-img img {
    width: 45rem;
  }

  .menu .menu-box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    justify-content: center;
  }
}

/* Tablet */
@media (max-width: 660px) {
  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .satu {
    width: 90%;
  }

  .dua {
    width: 90%;
  }
}

/* tablet */
@media (max-width: 991px) {
  html {
    font-size: 75%;
  }

  .main-img img {
    width: 30rem;
    border-radius: 5%;
  }

  .jumbotron {
    margin-top: 0;
    font-size: 30%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .jumbotron {
    height: 300px;
  }

  .main-img img {
    width: 40rem;
  }

  .video {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: "560";
    height: "315";
  }

  .menu .menu-box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    justify-content: center;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .satu {
    width: 90%;
  }

  .dua {
    width: 90%;
  }
}

/* Mobile */
@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
}
